#tensorflow==2.15.0
ultralytics==8.0.237
python-dotenv==1.0.0
#tqdm==4.66.2
azure-storage-blob==12.19.0
azure-ai-vision==0.15.1b1
azure-search-documents==11.4.0
pandas==2.2.1
numpy==1.26.4
annoy==1.17.3
opencv-python==4.9.0.80
streamlit==1.32.2
st_clickable_images==0.0.3
streamlit_selectable_image_gallery==0.0.1
langchain==0.1.14
langchain_openai==0.1.1